.list-group-item{
    cursor: pointer;
    color: white;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row2{
    display: flex;
    justify-content:left;
    align-items: center;
}

.piano{
    display: flex;
    justify-content:right;
    align-items: center;
    margin-left: 15rem;
}
.list-group-item:active{
    opacity: 0.7;
}


.row3{
    display: flex;
    justify-content:center;
    align-items: center;
}
.altura{
    padding-bottom: 5rem;
}


.materiales{
    margin-bottom: 3rem;
  }
  
  html,
  body {
   
    font-family: 'Varela Round';
  }
  /*=== 2. Anchor Link ===*/
  a {
    color: #aaaaaa;
    transition: all ease-in-out 200ms;
  }
  a:hover {
    color: #333333;
    text-decoration: none;
  }
  /*=== 3. Text Outside the Box ===*/
  .etc-login-form {
    color: #919191;
  }
  .etc-login-form p {
    margin-bottom: 5px;
  }
  /*=== 4. Main Form ===*/
  .login-form-1 {
    max-width: 1400px;
    border-radius: 5px;
    height: 500px;
  }
  .main-login-form {
    position: relative;
  }
  .login-form-1 .form-control {
    border: 0;
    box-shadow: 0 0 0;
    border-radius: 0;
    background: transparent;
    color: #555555;
    padding: 7px 0;
    font-weight: bold;
    font-size: large;
  }
  .login-form-1 .form-control2 {
    border: 0;
    box-shadow: 0 0 0;
    border-radius: 0;
    background: transparent;
    color: #555555;
    padding: 7px 0;
    font-weight: bold;
    font-size:small;
  }
  .login-form-1 .form-control::-webkit-input-placeholder {
    color: #999999;
  }
  .login-form-1 .form-control:-moz-placeholder,
  .login-form-1 .form-control::-moz-placeholder,
  .login-form-1 .form-control:-ms-input-placeholder {
    color: #999999;
  }
  .login-form-1 .form-group {
    margin-bottom: 0;
    border-bottom: 2px solid #efefef;
    padding-right: 20px;
    position: relative;
  }
  .login-form-1 .form-group:last-child {
    border-bottom: 0;
  }
  .login-group {
    background: #ffffff;
    color: #999999;
    border-radius: 8px;
    padding: 10px 20px;
  }
  .login-group-checkbox {
    padding: 5px 0;
  }
  /*=== 5. Login Button ===*/
  .login-form-1 .login-button {
    position: absolute;
    right: -25px;
    top: 50%;
    background: #ffffff;
    color: #999999;
    padding: 11px 0;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    border: 5px solid #efefef;
    border-radius: 50%;
    transition: all ease-in-out 500ms;
  }
  .login-form-1 .login-button:hover {
    color: #555555;
    transform: rotate(450deg);
  }
  .login-form-1 .login-button.clicked {
    color: #555555;
  }
  .login-form-1 .login-button.clicked:hover {
    transform: none;
  }
  .login-form-1 .login-button.clicked.success {
    color: #2ecc71;
  }
  .login-form-1 .login-button.clicked.error {
    color: #e74c3c;
  }
  /*=== 6. Form Invalid ===*/
  label.form-invalid {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    display: block;
    margin-top: -25px;
    padding: 7px 9px;
    background: #777777;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 11px;
  }
  label.form-invalid:after {
    top: 100%;
    right: 10px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #777777;
    border-width: 6px;
  }
  /*=== 7. Form - Main Message ===*/
  .login-form-main-message {
    background: #ffffff;
    color: #999999;
    border-left: 3px solid transparent;
    border-radius: 3px;
    margin-bottom: 8px;
    font-weight: bold;
    height: 0;
    padding: 0 20px 0 17px;
    opacity: 0;
    transition: all ease-in-out 200ms;
  }
  .logo {
    padding: 15px 0;
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
  }
  
  .jus{
    display: flex;
    justify-content: center;
  }
  
  .con{
    background-color: #c0c0c0;;
    padding: 1rem 5rem;
    color: #25496B;
    font-weight: 600;
  
  }
  h5{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  label{
    margin-top: 1rem;
  }
  .clase{
    display: flex;
    align-items: center;
    margin-right: 3rem;
  }
  .nav{
    background-color: #03588C;
  }
  span{
    color: darkred;
  }
  h3{
    text-align: center;
    margin: 2rem 0;
    
  }
  .guardar{
    background-color: #04aa81;
    border-color: #04aa81;
    border-radius: 6px;
    -webkit-box-shadow: 6px 10px 5px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 5px -6px rgba(0,0,0,0.75);
    box-shadow: 6px 10px 5px -6px rgba(0,0,0,0.75);
    color: white;
    padding:0.3rem 2rem;
    margin-right: 1rem;
  
  }
  .imprimir{
    background-color: #999999;
    border-color: #999999;
    border-radius: 6px;
    -webkit-box-shadow: 6px 10px 5px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 5px -6px rgba(0,0,0,0.75);
    box-shadow: 6px 10px 5px -6px rgba(0,0,0,0.75);
    color: white;
    padding:0.3rem 2rem;
    overflow: hidden;
  
  }
  .table{
    width: 70%;
    margin: 5rem 7rem;
  }

  h1{
    text-align: center;
  }

.modalactu{
  width: 50%;
}