<form>
    <h3><strong>FORMULARIO PRODUCTOS</strong></h3>
    <div class="row">
    <div class="col-4">  
    <div class="form-group"> 
        <label class="control-label">Nombre Producto:</label>
        <input type="text" required [(ngModel)]="Datos.nombreProducto" name="nombreProducto" class="form-control">
    </div>
    <div class="form-group"> 
        <label  class="control-label">Marca:</label>
        <input type="text" required [(ngModel)]="Datos.marcaProducto" name="marcaProducto" class="form-control" >
    </div>
    <div class="form-group"> 
      <label  class="control-label">Presentacion:</label>
      <input type="text" required [(ngModel)]="Datos.presentacionProducti"  name="presentacionProducti" class="form-control">
    </div>
    <div class="form-group"> 
      <label  class="control-label">Contenido:</label>
      <input type="number" required  [(ngModel)]="Datos.contenidoProducto"  name="contenidoProducto" class="form-control">
    </div>
    <div class="form-group"> 
      <label  class="control-label">Costo:</label>
      <input type="number" required  [(ngModel)]="Datos.costoProducto"  name="costoProducto" class="form-control">
    </div>
    </div>
  
    <div class="form-group col-4"> 
    <div class="form-group"> 
        <label  class="control-label">Proveedor:</label>
        <input type="text" required [(ngModel)]="Datos.proveedorProducto" name="proveedorProducto" class="form-control"  >
    </div>
    
    <div class="form-group"> 
        <label  class="control-label">Cantidad de ingreso:</label>
        <input type="number" required  [(ngModel)]="Datos.cantidadIngresa" name="cantidadIngresa" class="form-control"  required>
    </div>
    <div class="form-group"> 
      <label  class="control-label">Status:</label>
      <br>
      <label class="form-check-label">
      <input class="form-check-input" type="radio" name="status" value="1" [(ngModel)]="Datos.statusProducto"> Activo
      </label>
  
      <label>
      <input class="form-check-input" type="radio" name="status" value="0" [(ngModel)]="Datos.statusProducto"> Inactivo
      </label>
  
    </div>
    <div class="form-group"> 
    <label  class="control-label">Descripción:</label>
    <input type="text" required [(ngModel)]="Datos.descripcionProducto" name="descripcionProducto" class="form-control"  required>
    </div>
    <br>
    <div class=" clase"> <!-- Submit Button -->
        <button type="submit"  class="btn guardar" (click)="agregarProduc()" >Guardar</button><br>
    </div> 
    </div>
    </div>
    </form>
  
  
  <br>
  <br>
  <h1>Productos</h1>
   <table class="table" >
     <thead>
       <th>Nombre </th>
       <th>Marca </th>
       <th>Presentación </th>
       <th>Contenido </th>
       <th>Costo </th>
       <th>Proveedor </th>
       <th>Cantidad </th>
       <th>Status </th>
       <th>Descripción </th>
     </thead>
     <tbody>
       <tr *ngFor="let item of datos2; let i=index">
         <td>{{item.nombreProducto}}</td>
         <td>{{item.marcaProducto}}</td>
         <td>{{item.presentacionProducti}}</td>
         <td>{{item.contenidoProducto}}</td>
         <td>{{item.costoProducto}}</td>
         <td>{{item.proveedorProducto}}</td>
         <td>{{item.cantidadIngresa}}</td>
         <td>{{item.statusProducto}}</td>
         <td>{{item.descripcionProducto}}</td>

         <ng-template #myModalInfo let-modal class="modalactu">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title" id="myModalLabel">ACTUALIZAR PRODUCTO</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">X
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="row">
                <div class="col-4">  
                <div class="form-group"> 
                    <label class="control-label">Nombre Producto:</label>
                    <input type="text" required [(ngModel)]="Datos3.nombreProducto" name="nombreProducto" class="form-control">
                </div>
                <div class="form-group"> 
                    <label  class="control-label">Marca:</label>
                    <input type="text" required [(ngModel)]="Datos3.marcaProducto" name="marcaProducto" class="form-control" >
                </div>
                <div class="form-group"> 
                  <label  class="control-label">Presentacion:</label>
                  <input type="text" required [(ngModel)]="Datos3.presentacionProducti"  name="presentacionProducti" class="form-control">
                </div>
                <div class="form-group"> 
                  <label  class="control-label">Contenido:</label>
                  <input type="number" required  [(ngModel)]="Datos3.contenidoProducto"  name="contenidoProducto" class="form-control">
                </div>
                <div class="form-group"> 
                  <label  class="control-label">Costo:</label>
                  <input type="number" required  [(ngModel)]="Datos3.costoProducto"  name="costoProducto" class="form-control">
                </div>
                </div>
              
                <div class="form-group col-4"> 
                <div class="form-group"> 
                    <label  class="control-label">Proveedor:</label>
                    <input type="text" required [(ngModel)]="Datos3.proveedorProducto" name="proveedorProducto" class="form-control"  >
                </div>
                
                <div class="form-group"> 
                    <label  class="control-label">Cantidad de ingreso:</label>
                    <input type="number" required  [(ngModel)]="Datos3.cantidadIngresa" name="cantidadIngresa" class="form-control"  required>
                </div>
                <div class="form-group"> 
                  <label  class="control-label">Status:</label>
                  <br>
                  <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="status" value="1" [(ngModel)]="Datos3.statusProducto"> Activo
                  </label>
              
                  <label>
                  <input class="form-check-input" type="radio" name="status" value="0" [(ngModel)]="Datos3.statusProducto"> Inactivo
                  </label>
              
                </div>
                <div class="form-group"> 
                <label  class="control-label">Descripción:</label>
                <input type="text" required [(ngModel)]="Datos3.descripcionProducto" name="descripcionProducto" class="form-control"  required>
                </div>
                <br>
                <div class=" clase"> <!-- Submit Button -->
                    <button type="submit"  class="btn guardar" (click)="Actualizar(Datos3.id)">Actualizar</button><br>
                </div> 
                </div>
                </div>
                </form>
        </div>
      </div>
      </ng-template>
         <td>
          <button type="button" class="btn btn-danger" (click)="Eliminar(item._id)"> Eliminar</button>
        </td>
        <td>
          <button type="button" class="btn btn-warning" (click)="mostrarModalInfo(item)">Actualizar</button>
        </td>

        
       </tr>
     </tbody>
   </table>
  
