body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    margin-top: 0;
}

/* Estilos para los cajones de estacionamiento */
.parking-spot {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 2px solid #ccc;
    background-color: #fff;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    margin: 10px;
    color: #333;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}


/* Estilos para cajones de estacionamiento ocupados */
.parking-spot.occupied {
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: #fff;
}

/* Estilos para cajones de estacionamiento seleccionados */
.parking-spot.selected {
    background-color: #2196F3;
    border-color: #2196F3;
    color: #fff;
}